/* Gradient text */
.gradient-text {
  background: -webkit-linear-gradient(0deg, var(--bs-primary), var(--bs-info));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Stroke-text */
.stroke-text {
  text-transform: uppercase;
  font-weight: bolder;
  -webkit-text-stroke: 2px var(--bs-secondary);
  -webkit-text-fill-color: transparent;
  writing-mode: vertical-lr;
}

/* ---- particles.js ---- */
canvas {
  display: block;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bs-dark);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
